.container{
  margin-top: 5rem;
}
zal.container{
    margin-top: 5rem;
}


.product-card-wrapper {
  width: 100%;
  height: 100%;
}


.product-card-wrapper .card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-card-wrapper .card-img-top {
  height: 280px;  
  object-fit: cover;
}

