.simple-toast {
    position: fixed;
    top: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 500;
    z-index: 9999;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6); /* default */
    color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* POSITION */
.simple-toast.top-right {
    right: 16px;
}

.simple-toast.top-left {
    left: 16px;
}

.simple-toast.top-center {
    left: 50%;
    transform: translateX(-50%);
}

/* TYPE COLOR */
.simple-toast.success {
    background: rgba(25, 135, 84, 0.75);
}

.simple-toast.error {
    background: rgba(220, 53, 69, 0.75);
}

.simple-toast.info {
    background: rgba(13, 110, 253, 0.75);
}
