.footer {
  background-color: #fff;
}

.footer-link {
  margin-left: 16px;
  font-size: 14px;
  color: #6c757d;
  text-decoration: none;
}

.footer-link:hover {
  color: #000;
  text-decoration: underline;
}
